.form-control {
	border-radius: 0px;
}
form button {
	margin: 5px 0px;
}

textarea {
	display: block;
	margin-bottom: 10px;
}

/*post*/
.post {
	border: 1px solid #ccc;
}

/*comments*/
.comments-section {
	margin-top: 10px;
	border: 1px solid #ccc;
}
.comment {
	margin-bottom: 10px;
}
.comment .comment-name {
	font-weight: bold;
}
.comment .comment-date {
	font-style: italic;
	font-size: 0.8em;
}
.comment .reply-btn, .edit-btn {
	font-size: 0.8em;
}
.comment-details {
	width: 91.5%;float: left;
}
.comment-details p {
	margin-bottom: 0px;
}
.comment .profile_pic {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	float: left;
	border-radius: 50%;
}

/*replies*/
.reply {
	margin-left: 30px;
}
.reply_form {
	margin-left: 40px;
	display: none;
}
#comment_form {
	margin-top: 10px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

a {
	color: white;
	opacity: 0.6;
	text-decoration: none;
  }
  
  a:hover, a:active, a:focus{
	color: white;
	text-decoration: none;
	opacity: 1;
  }
  
  .active {
	color: white;
	text-decoration: none;
	opacity: 1;
  }
  
  body{
	background-color: #F4F6F7;
  }
  
  #wrapper {
	background-color: #28688C;
	box-shadow: 1px 5px 25px 3px #444;
	border-radius: 10px;
	margin: 100px auto;
	max-width: 720px;
	padding: 0px;
	color: white;  
  }
  
  #current-weather{
	padding: 15px;
  }
  
  #mainTemperature{
	font-size: 5.5em; 
	line-height: 0.7;
  }
  
  #tempDescription {
	margin-top: 10px;
	text-align: center;
  }
  
  .day-weather-box {
	border: 1px solid #28688C;
	background-color: #2E7FA1;
	border-radius: 5px;
	height: 5em;
  }
  
  .day-weather-box p{
	margin-bottom: 0;
  }
  
  .side-weather-info {
	padding: 0px 10px;
  }
  
  .day-weather-inner-box {
	display: inline-flex;
	margin: 14px auto;
	padding: 0px 5px;
  }
  
  .forecast-main {
	padding: 0px 0px 0px 30px;
  }
  
  .forecast-icon {
	font-size: 25px;
	margin-left: 5px;
  }
  
  .modal-body p{
	color: #333;
  }